footer
{
      background: #f8f9fa;
      margin-top: 30px;
      bottom: 0px;


}
footer h5{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 10px 0px ;
    color: #cc1b1b;
    text-align: center;

  }
  footer img
  {
      width: 50px;
      text-align: center;
  }
  .Social-media{
    display: flex;
    justify-content: center;

    padding-bottom: 20px;
  }
  footer a{
    display: flex;
    background: #e3edf7;
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s
  }
  footer a i{

    color:#777;
    transition: transform 0.5s;
  }
  footer a:hover{
    box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                      -0.5px -0.5px 0px -1px rgba(255,255,255,1),
                      0.5px 0.5px 0px rgba(0,0,0,0.15),
                      0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(255, 0, 0, 0.1);
    transform: translateY(2px);
  }
  footer :hover i{
    transform: scale(0.90);
  }
  footer a:hover .fa-facebook{
    color: #3b5998;
  }
  footer a:hover .fa-twitter{
    color: #00acee;
  }
  footer a:hover .fa-whatsapp{
    color: #4fce5d;
  }
  footer a:hover .fa-instagram{
    color: #f14843;
  }
 footer  a:hover .fa-youtube{
    color: #f00;
  }

  /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  footer a{
    display: flex;
    background: #e3edf7;
    height: 35px;
    width: 35px;
    margin: 0 10px;
  }
  footer img
  {
      width: 70px;
      text-align: center;
  }
  .padding-0{
    padding-right:3px!important;
    padding-left:3px !important;
}
.head{
    color: #cc1b1b;
    margin-top: 0px;
}

  }

   /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    footer a{
      display: flex;
      background: #e3edf7;
      height: 35px;
      width: 35px;
      margin: 0 10px;
    }
    footer img
    {
        width: 70px;
        text-align: center;
    }
    .padding-0{
      padding-right:3px!important;
      padding-left:3px !important;
  }
  .head{
      color: #cc1b1b;
      margin-top: 0px;
  }

    .category-head h3{
      font-size: 19px;
    }  }

  /*Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  }

