<footer>
  <div class="footer-content">


    <h5>
      تواصل معنا
    </h5>
    <div class="Social-media">
      <a href="https://www.facebook.com/keydiscount"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com/discount_key"><i class="bi bi-twitter"></i></a>
      <a href="tel:+201010860602"><i class="bi bi-whatsapp"></i></a>
      <a href="https://www.instagram.com/the_key_discount/"><i class="bi bi-instagram"></i></a>
      <a href="https://t.me/The_Key_Discount"><i class="bi bi-telegram"></i></a>
    </div>

  </div>

</footer>
