<div class="container about rtl mt-5">
  <h4> The key Discount</h4>
  <p>
    هي عضويه سنويه بتقدم خصومات تصل الي 70% في اكتر من 700مكان داخل جمهوريه مصر العربيه تحصل على
    نسبة الخصم المتفق عليها بين الشركه والشركات المتعاقدة معنا فورا عند زيارة المراكز الرئيسية اوالفروع الخاصة بهذه
    العملاء

    لمعرفة العروض الجديدة عن طريق قناة تلجيرام وقنوات السوشيال مديا وعن طريق التطبيق الخاص The key app وعن طريق طريق QR
    code الموجود على العضويه مما تيح لك معرفة كل العملاء ونسبة الخصم المتفق عليها والأماكن و عناوينها و كل العروض
    الجديدة</p>

  <div class="about-benefits mt-4">
    <h5>مميزات العضويه </h5>
    <div class="row">
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-house-door"></i>
        <p>تلبي جميع إحتياجاتك وتشكل جزء هام من تفاصيل حياتك وحياة أسرتك اليومية - العضويه هي الاولى من نوعها علي مستوي
          الشرق الاوسط </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-percent"></i>
        <p>خصومات تصل إلي 70% في جميع أوقات العام علي الخدمات الطبيه من جميع عملاء العضويه المتعاقدة معنا </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-hash"></i>
        <p>متابعة العملاء برسائل علي الواتس اب والإيميلات ومكالمات وقنوات التليجرم
          - VIPعروض خاصة كل أسبوع لعملاء </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-currency-dollar"></i>
        <p> المعامل والمستشفيات بالجمهورية لحاملي العضوية كشف مجاني VIPعوة مجانية لعملاء ال </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-gift"></i>
        <p> Vip مفاجآت مستقبلية لحاملي عضويه </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-geo"></i>
        <p> أكثر من الف مكان ومنفذ داخل العضويه</p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-emoji-smile"></i>
        <p> تغطي البطاقة جميع أنحاء الجمهورية</p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-key"></i>
        <p> سرية كافة المعلومات المرسلة للحصول علي العضوية </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-credit-card"></i>
        <p> لا يترتب علي العضوية أي خصم من الحسابات البنكية</p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-door-open"></i>
        <p> يتم توصيل العضويه الى باب بيتك وتحصيل رسوم العضويه بعد التاكد من سلامة العضويه والبيانات</p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-upc-scan"></i>
        <p> لمعرفة كل العملاءالمشتركين يتم مسح رمز الاستجابه السريع الموجود علي ظهر العضويه
        </p>
      </div>
      <div class="col-md-4 mt-3 about-benefits-benefit">
        <i class="bi bi-bell"></i>
        <p> العضوية فقط 299جنية لفترة معينة ومحدودة
        </p>
      </div>
    </div>
  </div>
</div>
