<div class="sidebar-contact" [class.active]='active'>
  <div class="toggle " (click)="onClick()">
    للتواصل
    <i class="bi bi-telephone-fill"></i>

  </div>
  <h6 class="text-center text-danger">للشكاوى و الاقتراحات</h6>
  <div class="scroll">
    <ul class="numbers ">

      <li>
        <i class="bi bi-telephone-fill"></i>
        <a href="tel:+201010860602">+201010860602</a>
      </li>
      <li>
        <i class="bi bi-telephone-fill"></i>
        <a href="tel:+201091210200">+201091210200</a>
      </li>
      <li>
        <i class="bi bi-telephone-fill"></i>
        <a href="tel:+0233918807">+0233918807</a>
      </li>
    </ul>
  </div>
</div>
