<div *ngIf="isloading" id="loader"></div>
<!-- <app-sub-nav></app-sub-nav> -->
<app-search class="mb-3"></app-search>

<div class="container home">

  <h4 class="text-center home-head mt-5">عملائنا</h4>
  <div class="row mt-3">
    <div *ngIf="allClients.length<1" class="text-center mt-5 text-danger">
      <h1>غير موجود</h1>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4 item mt-3 padding-0 " *ngFor="let client of allClients">
      <a [routerLink]="['/item',client.id]">
        <div class="section-item">
          <div class="card">
            <img src="http://pixelserver-001-site5.itempurl.com/uploads/{{client.clientLogo}}"
              class=" card-img-top img-fluid">
            <div class="card-body">

              <h5 class="card-title"><span class="card-title__p">{{client.companyName}}</span>
                <span> الخصم |{{client.discountPercentage}}%</span>
              </h5>
            </div>
          </div>
        </div>
      </a>
    </div>





  </div>
</div>
